@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

@layer utilities {

  .clip-signin-page-video {

    clip-path: circle(75% at 0% 50%);

  }

}


@layer components {
  .custom-slate-border {
    @apply border-slate-200 border;
  }

  .white-card {
    @apply bg-white rounded-3xl custom-slate-border;
  }
}


@keyframes changeColor {

  0%,
  25.999% {
    @apply text-orange-vibes
  }

  33%, 60.999% {
    @apply text-purple-vibes
  }

  66%, 90.999% {
    @apply text-green-vibes
  }

  100% {
    @apply text-orange-vibes
  }
}

@keyframes changeBg {

  0%,
  25.999% {
    @apply bg-orange-vibes
  }

  33%, 60.999% {
    @apply bg-purple-vibes
  }

  66%, 90.999% {
    @apply bg-green-vibes
  }

  100% {
    @apply bg-orange-vibes
  }
}


@keyframes changeBorderColor {

  0%,
  25.999% {
    @apply border-orange-vibes
  }

  33%, 60.999% {
    @apply border-purple-vibes
  }

  66%, 90.999% {
    @apply border-green-vibes
  }

  100% {
    @apply border-orange-vibes
  }
}


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 */